/cmake-build-debug/
/cmake-build-release/
/cmake-build-linux/
/cmake-build-linux-agent/
/.idea/
/cmake-build-release-linux/
/cmake-build-linux-release/
/cmake-build-linux_release/
/cmake-build-linucx_debug/